*{
  font-family: 'Kanit', sans-serif;
}

.red{
  background-color: pink;
  color:red;
}

.green{
  background-color: lightgreen;
  color:green;
}

.yellow{
  background-color: lightyellow;
  color:orange;
}
.well{
  font-size: 1.8rem;
}

.jumbotron{
  background-image: linear-gradient(to top, lightblue, white, lightblue);
  background-position: center;
  background-size: contain;
  color:black;
  text-align: center;
  height:100%;
}

.top{
  height:5%;
}

.progress{
  margin:0;
}

.panel{
  border: 1px solid black;
}
