.red{
  background-color: pink;
  color:red;
}

.green{
  background-color: lightgreen;
  color:green;
}

.yellow{
  background-color: lightyellow;
  color:orange;
}
.well{
  border: 1px solid black;
  font-size: 2rem;
}

.jumbotron{
  background-image: linear-gradient(to top, lightblue, white, lightblue);
  background-position: center;
  background-size: contain;
  color:black;
  text-align: center;
  height:100%;

}

.panel-heading,.panel-footer{
  font-size: .5em;
  padding:2%;
}
.panel-body{
  font-size: 1.5rem;
}
.panel{
  padding:0;
  text-align: center;
  height:100%;
}

.top{
  height:5%;
}
